<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
    <link rel="stylesheet" href="print-stylesheet.css" type="text/css" media="print" />
    <script src="index.js"></script>
    <title>Home Page</title>
    <meta charset="UTF-8">
</head>
<body>
        <header>
                <h5 class="headerLogLinks"><a class="headerlink" id="logout" href="/logout">logout</a></h5>
                <h5 class="headerLogLinks"><a class="headerlink" id="login" href="/login">login</a></h5>
                <h5 class="headerLogLinks" id="userid"></h5>
            <h2 class="headerText"><a class="headerlink" href="/">My Biography</a></h2>
            
        </header>
        <hr>
        <nav class="navbar2">
        <ul class="ulremovebullet">
            <li class="navlinks active">
                    <a href="/" class="links">About me</a>
            </li>

            <li class="navlinks">
                    <a href="/education" class="links">Skillset</a>
            </li>
            <li class="navlinks">
                    <a href="/projects" class="links">My Projects</a>
            </li>
            <li class="navlinks">
                    <a href="/gallery" class="links">Gallery</a>
            </li>
            <li class="navlinks">
                    <a href="/contact" class="links">Contact Me</a>
            </li>
            <li id="navlinks2">
                    <a href="/admin" class="links">Admin</a>
         </li>
        </ul>
    </nav>


        <main>
        <!--    <h2 class="pageHeader">Thanks for visiting my webpage!!</h2> -->
            <div id="thankyouImage"><img src="AridIgnorantAsiantrumpetfish-max-1mb.gif" alt="thankyouimage" /></div>

        </main>
        <footer>
                <div>&copy; Gowtham Shankar - Boston University</div>
        </footer>
</body>
</html>