<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
    <link rel="stylesheet" href="print-stylesheet.css" type="text/css" media="print" />
    <script src="index.js"></script>
    <title>Gallery</title>
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h5 class="headerLogLinks">
            <a class="headerlink" id="logout" href="/logout">logout</a>
        </h5>
        <h5 class="headerLogLinks" id="login">
            <a class="headerlink" href="/login">login</a>
        </h5>

        <h5 class="headerLogLinks" id="userid" onclick="getuserdetails()"></h5>
        <img id="imageId" width="40" height="40" alt="imageId" src="/sample"/>
        <h2 class="headerText">
            <a class="headerlink" href="/">My Biography</a>
        </h2>

    </header>
    <hr>
    <nav class="navbar2">
        <ul class="ulremovebullet">
            <li class="navlinks">
                <a href="/" class="links">About me</a>
            </li>
            <li class="navlinks">
                    <a href="/education" class="links">Skillset</a>
            </li>
            <li class="navlinks">
                    <a href="/projects" class="links">My Projects</a>
            </li>
            <li class="navlinks active">
                    <a href="/gallery" class="links">Gallery</a>
            </li>
            <li class="navlinks">
                    <a href="/contact" class="links">Contact Me</a>
            </li>
            <li id="navlinks2">
                    <a href="/admin" class="links">Admin</a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="gallery">
            <a href="scenary1.jpg" target="_blank">
                <img class="galleryimages" src="scenary1.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary2.jpg" target="_blank">
                <img class="galleryimages" src="scenary2.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary3.jpg" target="_blank">
                <img class="galleryimages" src="scenary3.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary4.jpg" target="_blank">
                <img class="galleryimages" src="scenary4.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary5.jpg" target="_blank">
                <img class="galleryimages" src="scenary5.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary7.jpg" target="_blank">
                <img class="galleryimages" src="scenary7.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary9.jpg" target="_blank">
                <img class="galleryimages" src="scenary9.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary10.jpg" target="_blank">
                <img class="galleryimages" src="scenary10.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary11.jpg" target="_blank">
                <img class="galleryimages" src="scenary11.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary12.jpg" target="_blank">
                <img class="galleryimages" src="scenary12.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary14.jpg" target="_blank">
                <img class="galleryimages" src="scenary14.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary15.jpg" target="_blank">
                <img class="galleryimages" src="scenary15.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary16.jpg" target="_blank">
                <img class="galleryimages" src="scenary16.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary16.jpg" target="_blank">
                <img class="galleryimages" src="scenary17.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary18.jpg" target="_blank">
                <img class="galleryimages" src="scenary18.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary19.jpg" target="_blank">
                <img class="galleryimages" src="scenary19.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary20.jpg" target="_blank">
                <img class="galleryimages" src="scenary20.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary21.jpg" target="_blank">
                <img class="galleryimages" src="scenary21.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary22.jpg" target="_blank">
                <img class="galleryimages" src="scenary22.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary23.jpg" target="_blank">
                <img class="galleryimages" src="scenary23.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary24.jpg" target="_blank">
                <img class="galleryimages" src="scenary24.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary25.jpg" target="_blank">
                <img class="galleryimages" src="scenary25.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary26.jpg" target="_blank">
                <img class="galleryimages" src="scenary26.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary27.jpg" target="_blank">
                <img class="galleryimages" src="scenary27.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary28.jpg" target="_blank">
                <img class="galleryimages" src="scenary28.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary24.jpg" target="_blank">
                <img class="galleryimages" src="scenary24.jpg" alt="Gowtham" />
            </a>
        </div>
        <div class="gallery">
            <a href="scenary16.jpg" target="_blank">
                <img class="galleryimages" src="scenary16.jpg" alt="Gowtham" />
            </a>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div><span class="close" onclick="closeModal()">&times;</span></div>
                    <h2>User Information</h2>
                    <hr>
    
                    <p id="modalText"></p>
                </div>
    
            </div>
    </main>
    <footer>
        <div>&copy; Gowtham Shankar - Boston University</div>
    </footer>
</body>

</html>